body {
  margin: 0;
  padding: 0;
  font: 14px "Roboto Condensed", Helvetica, Arial, sans-serif;
  box-sizing: content-box;
}

a {
  color: #00B7FF;
}

#map-container {
  height: 100%;
  width: 100%;
}

#maps {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transform: translate(0, 0);
}

#home-component {
  position: fixed;
  top: 10%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, 0%);
  padding: 0 20px 20px;
  background: white;
  border: 1px solid #00B7FF;
  z-index: 1000;
}

#home-component-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.labeled-input {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px;
}

.labeled-input input {
  margin: 5px 0 0;
  font: 14px "Roboto Condensed", Helvetica, Arial, sans-serif;
  padding: 3px;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0;
}

.login-buttons .sign-in-button {
  padding: 2px 15px;
}

.login-buttons .link-button {
  background: transparent;
  border: none;
  outline: none;
  text-decoration: underline;
  color: #0c8ec1;
  cursor: pointer;
}

.login-buttons .link-button:hover {
  color: #b4081a;
}

@media screen and (max-device-width: 900px) {
  #home-component {
    width: 80%;
  }
}
